<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ball game</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <%- include('nav.ejs') %>
        <div class="container mt-3">
            <h1>ball game</h1>
            <div>
                <div class="mt-2">
                    <button class="btn btn-outline-secondary btn-sm">ID</button>
                    <button id="userId" type="button" class="btn btn-outline-dark btn-sm" value="<%=user%>">
                        <%=user%>
                    </button>
                </div>
                <div class="input-group mt-2">
                    <button id="btnCreate" type="button" class="btn btn-danger mr-1">new
                        game</button>
                    <button id="btnJoin" type="button" class="btn btn-danger mr-1">join
                        game</button>
                    <button id="btnReady" type="button" class="btn btn-danger mr-1" disabled="disabled">ready</button>
                    <input id="txtGameId" type="text" class="form-control" placeholder="Game ID please">
                </div>
            </div>
        </div>
        <div id="divPlayers"></div>
        <div id="divBoard"></div>
        </div>
        <script>
            //not good idea open websocket as soon as website is showed
            //websocket has been opend in port 9090
            let ws = new WebSocket("ws://localhost:9090");


            const btnCreate = document.getElementById("btnCreate");
            const btnJoin = document.getElementById("btnJoin");
            const txtGameId = document.getElementById("txtGameId");
            const divPlayers = document.getElementById("divPlayers");
            const divBoard = document.getElementById("divBoard");
            const userId = document.getElementById("userId");
            const btnReady = document.getElementById("btnReady");

            console.log(userId.value)

            let clientId = null;
            let playerColor = null;
            let gameId = null;
            let ready = false;

            //very first connection
            ws.onopen = function () {
                clientId = userId.value
                const payLoad = {
                    method: "connect",
                    clientId: clientId
                };
                ws.send(JSON.stringify(payLoad));
            };

            //new game
            btnCreate.addEventListener("click", (e) => {
                const payLoad = {
                    method: "create",
                    clientId: clientId,
                };
                ws.send(JSON.stringify(payLoad));
            });

            //join
            btnJoin.addEventListener("click", (e) => {
                if (gameId === null) gameId = txtGameId.value;
                console.log("join game : " + gameId);
                const payLoad = {
                    method: "join",
                    clientId: clientId,
                    gameId: gameId,
                };
                btnReady.disabled = false;
                ws.send(JSON.stringify(payLoad));
            });

            //ready
            btnReady.addEventListener("click", (e) => {
                console.log("ready btn clicked");
                ready = true;
                const payLoad = {
                    method: "ready",
                    clientId: clientId,
                    gameId: gameId,
                    ready: ready,
                };
                ws.send(JSON.stringify(payLoad));
            });

            //receive a message from server
            ws.onmessage = (message) => {
                //message.data, the data sever has been sent
                const response = JSON.parse(message.data);

                //create
                if (response.method === "create") {
                    gameId = response.game.id;
                    console.log(response.game.id);
                }

                //update
                if (response.method === "update") {
                    //{1: "red", 1}
                    if (!response.game.state) return;
                    for (const b of Object.keys(response.game.state)) {
                        const color = response.game.state[b];
                        const ballObject = document.getElementById("ball" + b);
                        ballObject.style.backgroundColor = color;
                    }
                }

                //join
                if (response.method === "join") {
                    const game = response.game;

                    while (divPlayers.firstChild)
                        divPlayers.removeChild(divPlayers.firstChild);

                    game.clients.forEach((c) => {
                        const d = document.createElement("div");
                        d.style.width = "200px";
                        d.style.background = c.color;
                        d.textContent = c.clientId;
                        divPlayers.appendChild(d);

                        if (c.clientId === clientId) {
                            playerColor = c.color;
                        }
                    });

                    while (divBoard.firstChild) divBoard.removeChild(divBoard.firstChild);


                    for (let i = 0; i < game.balls; i++) {
                        const b = document.createElement("button");
                        b.id = "ball" + (i + 1);
                        b.tag = i + 1;
                        b.textContent = i + 1;
                        b.style.width = "150px";
                        b.style.height = "150px";
                        b.addEventListener("click", (e) => {
                            b.style.background = playerColor;
                            const payLoad = {
                                method: "play",
                                clientId: clientId,
                                gameId: gameId,
                                ballId: b.tag,
                                color: playerColor,
                            };
                            ws.send(JSON.stringify(payLoad));
                        });
                        divBoard.appendChild(b);
                    }

                }
            };
        </script>
</body>

</html>