<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/join">join</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">chatting</a>
            </li>

        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
        $('#search').click(function () {
            var searchValue = $('#search-input').val();
            window.location.replace('/search?value=' + searchValue);
        });
    </script>

</nav>