body {
}
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    "c c c"
    "a a b"
    "a a b";
}

.item0 {
  grid-area: c;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item2_1 {
}
.item2_2 {
}
.item2_3 {
}
.item2_4 {
}
